[pylint]
disable=
    bad-continuation,
    broad-except,
    consider-using-f-string,
    import-error,
    invalid-envvar-default,
    invalid-name,
    line-too-long,
    logging-format-interpolation,
    missing-class-docstring,
    missing-module-docstring,
    redefined-builtin,
    redefined-outer-name,
    too-many-branches,
    too-many-locals,
    unnecessary-pass,
    unused-argument,
    unused-import,
    wrong-import-order,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
